<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile Header</title>

        <script defer src="./header.js"></script>
    </head>
    <body>
        <custom-header></custom-header>

        <template id="temp">
            <link rel="stylesheet" href="../../Css/Header.css">
            <link rel="stylesheet" href="../../Css/default.css">
            <nav>
                <ul class="naviHeader">
                    <li>Home</li>
                    <li>About</li>
                    <li>Techno</li>
                    <li>License</li>
                    <li>project</li>
                </ul>
            </nav>
        </template>
    </body>
</html>